.Pokecard {
  display: inline-block;
  width: 8em;
  background-color: rgb(189, 189, 189);
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  margin: 1em;
}

.Pokecard-title {
  color: rgb(0, 60, 255);
  font-weight: bold;
}

.Pokecard-data {
  font-size: 80%;
}
